@model List<Normativa>

@{
    ViewData["Title"] = "Resultados de la búsqueda";
    Layout = "_Filtros";
}



 <div class="container mt-5">

	 <h1 class="text-center">@ViewData["Title"]</h1>
	
	<div class="row">
	@foreach (var item in Model)
	{
		 <div class="card col-12 mt-3">
           <h5 class="card-header">@item.numero</h5>
            <div class="card-body">
              <h5 class="card-title">@item.titulo</h5>
              <p class="card-text">@item.fecha</p>
              <p class="card-text">@item.entidad.Nombre</p>
              @Html.ActionLink("Descargar", "DownLoadNormativa" , new { id=item.id })
            </div>
        </div>

	}
        
		</div>

	</div>

	