@model observatorioapp.Models.Normativa
@{
    Layout = "_Filtros";
    List<Entidad> entidades = new List<Entidad>();
    Entidad entidad = new Entidad();
    entidad = ViewBag.item;
    entidades = ViewBag.items;
    ViewData["Title"] = "EDITAR NORMATIVA";
}

<h1>@ViewData["Tittle"]</h1>

<div class="container">

    <div class="text-danger" asp-validation-summary="All"></div>

<form class="row" asp-controller="Normativa" asp-action="EditarNormativa" method="post"  enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="numero">NÚMERO DE LA NORMATIVA: </label>
        <input type="number" asp-for="numero" class="form-control">
        <span class="text-danger" asp-validation-for="numero"></span>
    </div>

    <div class="form-group">
        <label asp-for="titulo">TÍTULO DE LA NORMATIVA: </label>
        <input type="text" asp-for="titulo" class="form-control">
        <span class="text-danger" asp-validation-for="titulo"></span>
    </div>

    <div class="form-group">
        <label asp-for="descripcion">DESCRIPCIÓN DE LA NORMATIVA: </label>
         <textarea asp-for="descripcion"  class="form-control" cols="30" rows="10"></textarea>
        <span class="text-danger" asp-validation-for="descripcion"></span>
    </div>

    <div class="form-group">
        <label for="nomb">NORMATIVA: </label>
        <input type="file" for="nomb" name="files" class="form-control" accept="application/pdf">
    </div>

    <div class="form-group">
        <label asp-for="fecha" >FECHA: </label>
        <input type="date" asp-for="fecha" class="form-control">
        <span class="text-danger" asp-validation-for="fecha"></span>
    </div>

    <div class="form-group">

     <label class="form-label">ENTIDAD EMISORA: </label>
    
      <select name="idEntidad" id="norma" class="form-control">

         <option value="@entidad.Id" selected >@entidad.Nombre</option>
         
         @foreach (var item in entidades)
         {
             <option value="@item.Id" >@item.Nombre</option>

         }


      </select>
   
    </div>

    <div>
    <button class="btn btn-primary">ACTUALIZAR NORMATIVA</button>
    </div>

</form>

</div>